/*
	Kevin Lin - 40002383
	Bilal Rana - 40013408
	SOEN 287 Summer 2017
	HTML Project
*/

body {
    background-color: #DFE2DB;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 1080px;
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 1080px;
}

#banner {
    padding: 5px;
    margin: 5px;
    color: black;
    border: solid;
    width: 1080px;
}

#footer	 {
    padding: 5px;
    margin: 5px;
    color: black;
    border: solid;
    width: 1080px;
    text-align: center;
}

#index {
    text-align: center;
    width: 1080px;
    padding: 5px;
    margin: 5px;
    color: black;
    border: solid;
    height: 500px;
}

#sidemenu {
    text-align: left;
    width: 200px;
    float: left;
    padding: 5px;
    margin: 5px;
    color: black;
    border: solid;
    height: 450px;
}
#fixed{
    width: 190px; 
    height:410px;
}
.intel{
    border:solid;
    float: left;
    background-color: white;
    padding: 2px;
    margin: 2px;
}
.razer{
    border:solid;
    float: left;
    background-color: white;
    padding: 2px;
    margin: 2px;
}
.alien{
    border:solid;
    float: left;
    background-color: white;
    padding: 2px;
    margin: 2px;
}
.form{
    width: 300px;
    text-align: left;
}